<body id="fondo">
    <adra-barrasuperior></adra-barrasuperior>
    <adra-navbar></adra-navbar>
    <div class="container-fluid espacio-trabajo">
        <div class="row" style="padding: 20px;">

            <div class="col-3" style="margin: auto;">
                
                <a [routerLink]="['/moduloasesor', id_cap]">
                    <div id="clase" style="text-align: center;">
                        <img src="https://www.adra.org.pe/sites/default/files/inline-images/vol_te_formamos.png" alt="" width="60%">
                        <div style="margin-top: 20px;">
                            <h4 style="text-align: center;">{{nombre_cap}}</h4>
                        </div>
                    </div>
                </a> 
                        
                <a [routerLink]="['/moduloasesor/pedidosoracion']">
                    <div id="clase" class="pedidosdeoracion" style="margin-top: 30px;">
                        <h5 style="color: black;">Pedidos de Oracion</h5>
                    </div>
                </a>
            </div>

            <div class="col-9">
                <div id="contenido_clase">
                    <div class="cabecera_recurso">
                        <h3> PEDIDOS DE ORACION</h3>
                    </div>
                    <div class="centro">
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                  <th scope="col">Nombre</th>
                                  <th scope="col">Apellido Paterno</th>
                                  <th scope="col">Fecha</th>
                                  <th scope="col">Pedido</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let p of listPedidosBancoAsesor">
                                    <td>{{p.NOMBRE}}</td>
                                    <td>{{p.APELLIDO_PATERNO}}</td>
                                    <td>{{p.FECHA_CREACION | date:'dd-MM-yyyy HH:mm:ss'}}</td>
                                    <td>{{p.PEDIDO}}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
    </div>
</body>