<div class="row" style="padding: 20px;">
    <div class="col-4 d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </div>
    <div id="lista-modulos">
        <a href="#">
            <div class="card text-center zoom" style="width: 14rem;">
                <img src="/assets/img/facebook-emp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Facebook Empresarial</h5>
                </div>
            </div>
        </a>

        <a href="#">
            <div class="card text-center zoom" style="width: 14rem;">
                <img src="/assets/img/facebook-emp.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Facebook Empresarial</h5>
                </div>
            </div>
        </a>
    </div>
</div>