<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
    aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog tamaño-modal">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="staticBackdropLabel"><i class="fas fa-check-circle"
                        style="margin-right: 5px;"></i>Evaluacion de la Sesión</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="lista-preguntas">

                    <div class="pregunta">
                        <label for="" class="form-label" style="font-weight: bold;">Pregunta 1</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg1" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Alterntativa 1
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg1" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Alterntativa 2
                            </label>
                        </div>
                    </div>

                    <div class="pregunta">
                        <label for="" class="form-label" style="font-weight: bold;">Pregunta 2</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg2" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Alterntativa 1
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg2" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Alterntativa 2
                            </label>
                        </div>
                    </div>

                    <div class="pregunta">
                        <label for="" class="form-label" style="font-weight: bold;">Pregunta 3</label>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg3" id="flexRadioDefault1">
                            <label class="form-check-label" for="flexRadioDefault1">
                                Alterntativa 1
                            </label>
                        </div>

                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="preg3" id="flexRadioDefault2">
                            <label class="form-check-label" for="flexRadioDefault2">
                                Alterntativa 2
                            </label>
                        </div>
                    </div>


                </div>

                <h5><i class="fas fa-check-circle" style="margin-right: 5px; margin-top: 20px;"></i>Valoración de la Sesión</h5>
                <div class="escala-valoracion">
                    <div>
                        <a href="">
                            <i class="far fa-dizzy carita-tamaño muy-inst"></i>
                            <p>Muy insatisfecho</p>
                        </a>

                    </div>

                    <div>
                        <a href="">
                            <i class="far fa-frown carita-tamaño inst"></i>
                            <p>Insatisfecho</p>
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <i class="far fa-meh carita-tamaño ni-inst-satis"></i>
                            <p>Ni satisfecho ni insatisfecho</p>
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <i class="far fa-smile carita-tamaño satis"></i>
                            <p>Satisfecho</p>
                        </a>
                    </div>

                    <div>
                        <a href="">
                            <i class="far fa-smile-beam carita-tamaño muy-satis"></i>
                            <p>Muy satisfecho</p>
                        </a>
                    </div>

                </div>


            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary">Enviar</button>
            </div>
        </div>
    </div>
</div>