a{
    text-decoration: none;
    color: white;
}

.home-content {
    padding: 25px;
    align-items: center;
    border-radius: 10px;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}